@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: #ff7a7a;
  color: #fff;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: bolder;
}

.chamada {
  width: 500px;
  justify-items: center;
}

.chamada p {
  text-align: left;
}

.preco {
  justify-items: center;
  background-color: #6055a5;
  text-align: center;
  border-radius: 10px;
  width: 400px;
  padding: 5px 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 0px;
}

.form {
  color: #ff7a7a;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 0px;
}

.input-padrao {
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
  height: 40px;
  font-weight: 700;
  border-color: #b8b5d4;
  border-radius: 10px;
}

.btn {
  font-weight: 800;
  border: none;
  color: #fff;
  background-color: rgb(56, 204, 140);
  border-radius: 10px;
  height: 40px;
  width: 400px;
  box-shadow: rgba(30, 112, 76, 0.62) 0px 3px 0px;
}

.btn:hover {
  cursor: pointer;
}

div .termos {
  color: #b8b5d4;
}

div p a {
  color: #ff7a7a;
  font-weight: 700;
}
