@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ff7a7a;
  color: #fff;
  font-size: 16px;
}

.preço {
  background-color: #6055a5;
  border-radius: 5px;
}

.form {
  color: #ff7a7a;
  background-color: #fff;
  border-radius: 5px;
}

.btn {
  background-color: #38cc8c;
  border-radius: 5px;
}
